pypdf
streamlit==1.39.0
pandas==2.2.3
requests==2.32.3
plotly==5.24.1
networkx==3.3
wordcloud==1.9.3
matplotlib==3.9.2
spacy==3.8.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
